/* @import url('https://fonts.googleapis.com/css2?family=Belleza&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@0;1&family=Quicksand:wght@300;500;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Belleza&display=swap');

.Navbar {
  align-items: center;
  display: grid;
  grid-template-columns: 4.5fr 0.8fr 0.85fr;
  justify-content: space-between;
  padding: 6px 0px 6px 6px;
  position: sticky;
  width: 100%;
  top : 0;
  z-index: 30;
}

.Logo {
  font-size: 40px;
  margin: 10px;
  grid-column:1/2
}

.DynamicProductLogo {
  display: flex;
  flex-direction: column;
  row-gap:1.5px;
  font-size: 17px;
  margin: 10px;
  grid-column:1/2;
}

.DynamicProductSecondRow {
  display: flex;
  flex-direction: row;
}

.DynamicProductSecondRow:hover {
  cursor: pointer;
}

#RiShoppingBag {
  grid-column: 3/4;
  justify-self: center;
  cursor: pointer;
}

#RiShoppinBag:hover {
  cursor: pointer;
}

#nav-link-to-review,  #nav-link-to-questions{
  font-size: 16px;
  padding-left: 10px;
  padding-right: 10px;
}

#nav-link-to-review:hover,  #nav-link-to-questions:hover {
  color: var(--nav-bar-hover);
}

.themetogglebtn {
  grid-column: 2/3;
  justify-self: center;
}

.themetogglebtn {
  width: 80%;
  background-color: var(--background);
  border: 0 solid #e2e8f0;
  border-radius: 1.5rem;
  box-sizing: border-box;
  color: var(--text-primary);
  display: inline-block;
  font-size: 15px;
  font-weight: 600;
  line-height: 1;
  padding: 1rem 1.6rem;
  text-align: center;
  text-decoration: none var(--text-primary) solid;
}

.themetogglebtn:hover {
  background-color: var(--text-primary);
  color: var(--background);
  transition: 0.2s;
  cursor: pointer;

}

#RiShoppingBag {
  position: absolute;
}

.reddot {
  position: relative;
  height: 7.2px;
  width: 7.2px;
  border-radius: 50%;
  background-color:red;
  top: -32px;
  right: -25px;
}

#shoppingbag:hover {
  color: var(--background);
}

#nav-product-name {
  margin: 0;
  font-weight: 600;
}