#Sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subtotalbox {
  width: 100%;
  text-align: center;
}

.cartitem {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid grey;
  text-align: center;
}

#carttotalprice {
  display: block;
  color: red;
  font-weight: 600;
}

.cartitemphoto {
  width: 125px;
  height: 145px;
  object-fit: cover;
}

#onsale {
  color: red;
  margin-bottom: 0px;
}

#linethrough {
  text-decoration:line-through;
  margin: 0px;
}
