@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:ital,wght@0,300;1,100;1,300&family=Belleza&display=swap');

/* #select-size {
  border-radius: 1rem;
  font-family: 'Alegreya Sans SC', sans-serif;
  font-weight: 300;
  font-size: 20px;
  margin: 10px;
  padding: 14px;
}

#quantity {
  border-radius: 1rem;
  font-family: 'Alegreya Sans SC', sans-serif;
  font-weight: 300;
  font-size: 20px;
  margin: 10px;
  padding: 14px;
} */
/*
#add-to-bag {
  border-radius: 1rem;
  font-family: 'Alegreya Sans SC', sans-serif;
  font-weight: 300;
  font-size: 20px;
  margin: 10px;
  padding: 14px;
} */

/* STAR BUTTON */
.starred {
  background-color: #fee6e3;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 22px;
  height: 48px;
  line-height: 24px;
  margin: 10px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.starred:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.starred:hover:after{
  transform: translate(0, 0);
}

.starred:active {
  background-color: #ffdeda;
  outline: 0;
}

.starred:hover {
  outline: 0;
}

.hidden {
  display: none;
}