@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:ital,wght@0,300;1,100;1,300&family=Belleza&display=swap');

#select-size {
  border-radius: 1rem;
  font-family: 'Alegreya Sans SC', sans-serif;
  font-weight: 300;
  font-size: 20px;
  margin: 10px;
  padding: 14px;
}

#quantity {
  border-radius: 1rem;
  font-family: 'Alegreya Sans SC', sans-serif;
  font-weight: 300;
  font-size: 20px;
  margin: 10px;
  padding: 14px;
}

#add-to-bag {
  border-radius: 1rem;
  font-family: 'Alegreya Sans SC', sans-serif;
  font-weight: 300;
  font-size: 20px;
  margin: 10px;
  padding: 14px;
}

/* .starred {
  border-radius: 1rem;
  font-family: 'Alegreya Sans SC', sans-serif;
  font-weight: 300;
  font-size: 20px;
  margin: 10px;
  padding: 14px;
} */

.starred {
  align-items: center;
  background-color: #fee6e3;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: inline-flex;
  font-family: Inter, sans-serif;
  font-size: 12px;
  height: 48px;
  margin-right: 300px;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.hidden {
  display: none;
}