@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:ital,wght@0,300;1,100;1,300&family=Libre+Baskerville:ital@0;1&display=swap');

.announcements {
  display: block;
  font-family: 'Alegreya Sans SC', sans-serif;
  font-weight: 300;
  font-size: 18px;
  margin: 0 auto;
  text-align: center;
  background-color: rgb(249, 213, 167);
  padding: 10px
}

.announcements span {
  text-decoration: underline
}