.photos {
  /* height: 100vh; */
  display: flex;
  justify-content: start;
  margin-top: 20px;
  position: relative;
  /* align-items: center; */
}

.portrait-image {
  width: 500px;
  border-radius: 10px;
}

.right-arrow,
.left-arrow {
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
  cursor: pointer;
  font-size: 3rem;
  position: relative;
  top: 290px;
  user-select: none;
  z-index: 10;
}

.right-arrow {
  right: -400px;
}

.left-arrow {
  left: 97px;
}

.thumbnail-list {
  list-style: none;
  /* filter: drop-shadow(30px 10px 4px rgba(0,0,0,0.2)); */
  border-radius:10px;
}

.thumbnail {
  max-width: 60px;
  padding: 5px;
}