@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:ital,wght@0,300;0,400;1,100;1,300&family=Libre+Baskerville:ital@0;1&display=swap');

.star-rating {
  align-items: end;
  display: flex;
  justify-content: space-around;
  margin: 6px;
  max-width: 240px;
}

.star-rating span {
  font-size: 14px;
}

.link-to-review {
  display: inline;
  font-family: 'Alegreya Sans SC', sans-serif;
  font-weight: 300;
  font-size: 18px;
  text-decoration: underline;
}

.link-to-review:hover {
  cursor: pointer;
}