@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:ital,wght@0,300;0,400;0,700;1,100;1,300&family=Libre+Baskerville:ital@0;1&display=swap');

.style-gallery {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: repeat(5, 20%)
}


.clothing-style {
  font-family: 'Alegreya Sans SC', sans-serif;
}

.style-circular-photo {
  max-width: 50px;
  max-height: 50px;
  margin: 3px;
  border-radius: 50%;
}