.page-loading {
  font-family: 'Libre Baskerville', serif;
  font-size: 25px;
  text-align: center;
}

.loading {
  display: block;
  margin: 0 auto;
  margin-top: 100px;
  animation: loader-spin infinite 20s linear;
}

@keyframes loader-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.wrapper {
  /* grid-template-columns: repeat(7, 1fr);
  grid-auto-rows: minmax(30px, auto); */
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1000px 319px 1fr;
  /* grid-template-columns: repeat (7 1fr); */
  grid-template-rows: repeat(6, 10%);
  min-height: 0;
  min-width: 0;
  /* background-color: aquamarine; */
}

.style-selector {
  grid-column: 2;
  grid-row: 1;
  background-color: blueviolet;
  border-radius:20px;
}

.product-detail {
  grid-column: 3;
  grid-row: 1;
  background-color: hotpink;
  border-radius:20px;
}

.add-to-cart {
  grid-column: 2;
  grid-row: 5;
}