@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:ital,wght@0,300;0,400;0,700;1,100;1,300&family=Libre+Baskerville:ital@0;1&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* ---------------- ProductOverview Component ---------------- */
.page-loading {
  font-family: 'Poppins', sans-serif;
  font-size: 25px;
  text-align: center;
}

.loading {
  display: block;
  margin: 0 auto;
  margin-top: 100px;
  animation: loader-spin infinite 20s linear;
}

@keyframes loader-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.wrapper {
  display: grid;
  column-gap: 30px;
  grid-template-columns: 20px 1fr 1fr 50px;
  grid-template-rows: 20px 0fr 1fr 1fr;
  min-height: 0;
  min-width: 0;
  margin-right: 8%;
  margin-left: 8%;
}

.style-selector {
  grid-column: 3 / span 2;
  grid-row: 3;
  margin: 20px;
}

.product-detail {
  grid-column: 3 / span 2;
  grid-row: 2;
  margin: 20px;
}

.add-to-cart {
  grid-column: 3/ span 1;
  grid-row: 4;
  margin: 20px;
  width: 65%
}

.add-to-cart-form {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(2, 50%);
}

.images-everywhere {
  grid-column: 2;
  grid-row: 1 / 5;
}
/* -------------------- StarReview Component -------------------- */

.link-to-review:hover {
  color: #40804f;
}

/* ----------------- ProductDetail Component ----------------- */
.product-name {
  font-family: 'Poppins', sans-serif;
  font-size: 2.5em;
  font-weight: 700;
  margin: 0;
}

.strikethrough {
  text-decoration: line-through;
  color: var(--text-primary);
}

.sale-price {
  color: red;
}

.product-price,
.sale-price {
  display: inline;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  margin: 6px;
  position: relative;
  top: 22px;
}

/* ----------------- StylesGallery Component ----------------- */

.style-gallery {
  display: grid;
  grid-template-columns: repeat(4, 70px);
  grid-template-rows: 1fr;
}

.clothing-style,
.product-category {
  font-family: 'Poppins', sans-serif;
  font-size: 19px;
  grid-column: 1 / 5;
  grid-row: 1;
  margin-top: 7px;
}

.clothing-style {
  font-weight: 300;
}

.styles-options {
  grid-column: 1/5;
  grid-row: 2;
  margin-top: 20px;
}

/* ---------------- VerticalThumbnails Component ---------------- */
.current-thumbnail {
  border: 3px solid var(--button-color);
  border-radius: 10px;
}

.thumbnail:hover {
  cursor: pointer;
}

/* ----------------- StyleSelector Component ----------------- */

.circular-photo {
  border-radius: 50%;
  display: inline-block;
  height: 60px;
  margin: 5px;
  position: relative;
  overflow: hidden;
  width: 60px;
}

.circular--portrait {
  width: 100%;
  height: auto;
}

.circular--landscape {
  width: auto;
  height: 100%;
  margin-left: -12px;
}

.circular-photo:hover {
  cursor: pointer;
}


/* --------------------- AddToCart Component -------------------- */
#select-size,
#quantity,
#add-to-bag,
.starred {
  background-color: var(--button-color);
  border: 3px solid var(--button-color);
  border-radius: 8px;
  color: white;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 300;
  margin: 5px;
  min-width: 60px;
  padding: 10px;
  text-align: center;
}

#select-size:hover,
#quantity:hover,
#add-to-bag:hover,
.starred:hover {
  border: 3px solid var(--button-color-border-hover);
}

#add-to-bag:disabled {
  opacity: 0.7;
}

#select-size {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

#quantity {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

#add-to-bag {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
}

.starred {
  grid-column: 2/3;
  grid-row: 2/3;
}

.hidden {
  display: none;
}



/* ------------------- ImageGallery Component ------------------- */
.photos {
  display: flex;
  justify-content: start;
  margin-top: 20px;
  position: relative;
}

.portrait-image {
  height: 650px;
  width: 600px;
  object-fit: cover;
  border-radius: 10px;
}

.landscape-image {
  height: auto;
  width: 800px;
  border-radius: 10px;
}

.right-arrow,
.left-arrow {
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
  cursor: pointer;
  font-size: 3.3rem;
  position: relative;
  top: 300px;
  user-select: none;
  z-index: 10;
}

.right-arrow {
  right: -600px;
}

.left-arrow {
  left: 106px;
}

.thumbnail-list {
  list-style: none;
  border-radius: 10px;
}

.thumbnail {
  max-width: 60px;
  padding: 5px;
}

/* ---------------- ProductDescription Component ---------------- */
.about-style {
  display: grid;
  grid-template-columns: 1fr 438px 5px 319px 1fr;
  grid-template-rows: 50px 50px 50px;
  margin: 35px;
}

.product-slogan {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 500;
  grid-column: 2;
  grid-row: 1;
}

.product-description {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 200;
  grid-column: 2;
  grid-row: 2 / 4;
  margin: 15px 25px 0 0;
}

.divider {
  height: 150px;
  grid-column: 3;
  grid-row: 1 / 2;
}

.clothes-features {
  grid-column: 4;
  grid-row: 1;
}

.clothes-features li {
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
  font-weight: 200;
  list-style: none;
  padding: 10px;
}

.social-media {
  font-size: 25px;
  margin-top: 10px;
  text-align: center;
}

.social-media a {
  padding: 13px;
  color: var(--social-media);
}