.allstars {
  align-items: center;
  justify-content: center;
}

.back-stars {
  width: fit-content;
  color: #e4e5e9;
  position: relative;
}

.front-stars {
  color: #ffc107;
  overflow: hidden;
  white-space: nowrap;
  position: absolute;
  top: 0;
}
