/* @import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300&family=Zen+Kurenaido&display=swap'); */

.RRContainer {
  display: grid;
  grid-template-columns: 1.1fr 3fr;
  grid-template-rows: 50px 20px 1fr 30px;
  column-gap: 120px;
  row-gap: 30px;
  width: 80%;
  padding-bottom: 200px;
}

#RatingsandReviews {
  grid-column: 1/3;
  grid-row: 1/2;
  /* font-family: 'Belleza', sans-serif; */
  font-size: 2em;
}

.ReviewMeta {
  grid-column: 1/2;
  grid-row: 2/4;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.ReviewSort {
  grid-column:2/3;
  grid-row: 2/3;
  font-size: larger;
}

.ReviewList {
  grid-column: 2/3;
  grid-row: 3/4;
}

.ReviewButtons {
  grid-column: 2/3;
  grid-row: 4/5;
  display: flex;
  gap: 12px;
}

.ReviewList {
  max-height: 70vh;
  overflow-y: auto;
}

#morereviews {
  cursor: pointer;
}

#addreview {
  cursor: pointer;

}


#morereviews, #addreview{
  align-items: center;
  justify-content: center;
  background-color: var(--button-color);
  border: 2.5px solid var(--button-color);
  border-radius: 8px;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: inline-flex;
  font-size: 14px;
  font-weight: 600;
  height: 48px;
  margin-left: 120px;
  margin-right: 120px;
  line-height: 24px;
  max-width: 80%;
  width: 50%;
  padding: 25px 25px;
  position: relative;
  text-align: center;
}

#morereviews:hover, #addreview:hover{
  border: 2.5px solid var(--button-color-border-hover);
}

