
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300&family=Zen+Kurenaido&display=swap');

.QuestionAndAnswers {
  display: flex;
  flex-direction: column;
  line-height: 20px;
  width: 100%;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

.QAtitle{
  display: flex;
  justify-content: center;
  /* font-family: 'Belleza', sans-serif; */
  font-size: 2em
}
/* QuestionModel Basic CSS */

 .QAmodel {
  color: black;
  background-color: rgba(0,0,0,0.4); /* Overlay effect: translucent background: black w/ partial opacity */
  z-index: 150; /* Overlay effect: positioned over other containers */
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  position: fixed; /* Fix position on the top-left corner*/
  top: 0;
  left: 0;
  overflow: scroll;
  padding-top: 275px; /* Location of the content container */
}
#name, #email, #answerBody, #questionBody {
  font-family: 'Poppins', sans-serif
}

.QAmodelTitle {
  display: flex;
  justify-content: center;
}

.QAmodalContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  width: 50%; /* Width in proportion to its parent container*/
  max-width: 550px; /* Max width where it stops expanding */
  height: 50%; /* Height in proportion to its parent container */
  margin: auto; /* Auto margin according to the element width */
  padding: 10px;
  border: 1px solid black;
  border-radius: 20px; /* Optional. Rounds container corners */
  /* modal transition here */
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.5s;
}

.QAcloseBtn{
  margin: 1rem 0 1rem 0;
  margin-left: 10%;
  border-radius: 20px 0 0 20px;
  font-family: 'Poppins', sans-serif;
}

.QAsubmitBtn{
  margin: 1rem 0 1rem 8rem;
  margin-left: 52%;
  border-radius: 0 20px 20px 0;
  font-family: 'Poppins', sans-serif;
}

.QAcloseBtn:hover, .QAsubmitBtn:hover{
  background-color: lightgrey;
  transition: all ease 0.3s;
}

.QA-modal-footer {
  padding-top: 15px;
  padding-bottom: 10px;
}

.QAaddPhotoModel {
  width: 80%;
  margin-right: 3px;
}
.AnswerNewPhotos {
  display: inline-flex;
}

/* SearchBar Basic CSS */
.searchBarWrapper {
  margin-top: 40px;
  margin-bottom: 40px ;
  position: relative;
  display: inline-block;
  width: 80%;

}

.QAicon {
  position: absolute;
  top: 11px;
  left: 8px;
  width: 20px;
}

.QAsearch {
  border: 1px solid #888C8C;
  border-radius: 8px;
  height: 30px;
  box-shadow: 0 1px 2px rgb(15 17 17 / 15%) inset;
  width: 75%;
  padding: 2px 23px 2px 30px;
  background-color: white;
  cursor: text;

}

.QAsearch:hover, .QAsearch:focus {
  border: 2px solid rgb(144, 170, 203);
  background-color: white
}

/* QAList Basic CSS */
.QAList {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 80%;
  max-height: 50vh;
  overflow-y: auto;
}

/* Question Basic CSS */
.QAEntry {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  margin-right: 10px;

}

.showMoreA, .collapseA{
  /* color: #d39d7c; */
  font-weight: 600;
  font-size: 14px;
}

.questionContainer {
  display: flex;
  flex-direction: row;
  padding: 5px, 0, 5px, 0;
  margin-bottom: 15px;
  justify-content: space-between ;
}

.QAinlineLeft, .QAinlineRight {
  display: inline-flex;
  justify-content: space-between;
}

.QAinlineLeft {
  max-width: 50%;
  font-weight: 600;
  font-size: large;
  /* color: black; */
}

.questionBody{
  font-size: 30;
}

.QAinlineRight {
  /* color: #565959!important; */
  font-size: medium;
  line-height: 20px;
}

.QAhelpful, .QAhelpful-button, .QAbreak, .add-answer, .QAreport-button{
  margin: 5px
}

.QAhelpful-button, .add-answer ,.QAreport-button{
  text-decoration: underline;
  cursor: pointer
}


/* answer basic css */

.answerFooter {
  /* color: #565959!important; */
  font-size: medium;
  line-height: 20px;
}
.A {
  font-weight: 700;
}

/* .ABody, .questionBody{
  font-family: 'Mulish', sans-serif;
} */

.Answer {
  margin-top: 8px;
  margin-bottom: 8px;
}


/* more question and add question button CSS */
.QABtn{
  display: flex;
  justify-content: center;
  max-width: 78%;
}

.moreQBtn, .addQBtn, .goBackQ {
  align-items: center;
  justify-content: center;
  background-color: var(--button-color);
  border: 2.5px solid var(--button-color);
  border-radius: 8px;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: inline-flex;
  font-size: 14px;
  font-weight: 600;
  height: 48px;
  margin-left: 120px;
  margin-right: 120px;
  line-height: 24px;
  padding: 25px 25px;
  position: relative;
  text-align: center;
}



@media (min-width: 500px) {
  .moreQBtn,.goBackQ, .addQBtn{
    padding: 0 20px;
  }
}

/* Answer photo basic style */

.answerPhotos{
  display: inline-flex;
  justify-content: space-around;
  margin-top: 8px;
  margin-top: 5px;

}

.answerPhoto {
  width:80px;
  height:70px;
  object-fit: cover;
  margin-right: 8px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.answerPhoto:hover {
  opacity: 0.7;
}

/* answer model basic css */
.AnswerPhotoModel {

  position: fixed; /* Stay in place */
  z-index: 10; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

.answerPhotoFZ {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

.AnswerPhotoCloseBtn {
  position: absolute;
  /* top: 15px; */
  right: 185px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.AnswerPhotoCloseBtn:hover,.AnswerPhotoCloseBtn:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* highlighting  */
.QAHighlightClass {
  background-color:#d9df2e;
}