
/* QuestionModel Basic CSS */
 .questionModel {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Overlay effect: translucent background: black w/ partial opacity */
  z-index: 150; /* Overlay effect: positioned over other containers */
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  position: fixed; /* Fix position on the top-left corner*/
  top: 0;
  left: 0;
  overflow: auto;
  padding-top: 275px; /* Location of the content container */
}

.modalContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  width: 50%; /* Width in proportion to its parent container*/
  max-width: 500px; /* Max width where it stops expanding */
  height: 40%; /* Height in proportion to its parent container */
  margin: auto; /* Auto margin according to the element width */
  padding: 10px;
  border: 1px solid black;
  border-radius: 20px; /* Optional. Rounds container corners */
  /* modal transition here */
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.5s;
}

.closeBtn{
  margin: 1rem 0 1rem 0;
  margin-left: 10%;
  border-radius: 20px 0 0 20px;
}

.submitBtn{
  margin: 1rem 0 1rem 8rem;
  margin-left: 52%;
  border-radius: 0 20px 20px 0;
}

.closeBtn:hover, .submitBtn:hover{
  background-color: lightgrey;
  transition: all ease 0.3s;
}


/* SearchBar Basic CSS */

