
/* QuestionModel Basic CSS */

 .model {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Overlay effect: translucent background: black w/ partial opacity */
  z-index: 150; /* Overlay effect: positioned over other containers */
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  position: fixed; /* Fix position on the top-left corner*/
  top: 0;
  left: 0;
  overflow: auto;
  padding-top: 275px; /* Location of the content container */
}

.modalContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  width: 50%; /* Width in proportion to its parent container*/
  max-width: 500px; /* Max width where it stops expanding */
  height: 40%; /* Height in proportion to its parent container */
  margin: auto; /* Auto margin according to the element width */
  padding: 10px;
  border: 1px solid black;
  border-radius: 20px; /* Optional. Rounds container corners */
  /* modal transition here */
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.5s;
}

.closeBtn{
  margin: 1rem 0 1rem 0;
  margin-left: 10%;
  border-radius: 20px 0 0 20px;
}

.submitBtn{
  margin: 1rem 0 1rem 8rem;
  margin-left: 52%;
  border-radius: 0 20px 20px 0;
}

.closeBtn:hover, .submitBtn:hover{
  background-color: lightgrey;
  transition: all ease 0.3s;
}

/* SearchBar Basic CSS */
.searchBarWrapper {
  position: relative;
  display: flex;
  min-width: 100px;
}

.fa {
  position: absolute;
  top: 7px;
  left: 8px;
  width: 14px;
}

.search {
  border: 1px solid grey;
  border-radius: 10px;
  height: 25px;
  width: 70%;
  padding: 2px 23px 2px 30px;
  background-color: #f5f5f5;
}

.search:hover, .search:focus {
  border: 2px solid #63994d;
  background-color: white;
}

/* QAList Basic CSS */
.QAList {


}

/* Question Basic CSS */
.QAEntry {

}
.question {
  padding: 5px, 0, 5px, 0
}

.inlineLeft, .inlineRight {
  display: inline-block;
}

.inlineLeft {
  max-width: 50%;
}

.questionBody{
  font-size: 30;
}

.inlineRight {
  position: absolute;
  right: 30%;
}

.helpful, .helpful-button, .break, .add-answer, .report-button{
  margin: 5px
}

.helpful-button, .add-answer ,.report-button{
  text-decoration: underline;
  cursor: pointer
}


