.RelatedProductList, .RP{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 50px;
  margin: 20px, auto;
  /* font-family: 'Belleza', sans-serif;
  font-size:2em */

}
 .RP {
  font-family: 'Belleza', sans-serif;
  font-size:2em
 }

.RelatedProducts{
  margin-top: 100px;
  margin-bottom: 100px;
  width: 100%;
  align-items: center;

}
.RPcategory {
  margin-bottom: 3px;
}

.RPcard__content {
  display: contents;
  font-size: 14;
  font-family: 'Poppins', sans-serif;
  padding-bottom: 20px;
  height: 60px;

}


.carousel-slide-item__body {
  text-align: center;
  align-items: center;
  justify-content: center;
}


.RPcard-image {
  border-radius: 40px 40px 0 0;
  width: 275px;
  height: 350px;
  object-fit: cover;

}
.RPprice{
  margin-bottom: 20px;
}

.RPcard{
  font-family: 'Noto Sans JP', sans-serif;
  box-sizing: border-box;
  border-radius: 40px;
  display: flex;
  justify-content:space-between;
  flex-direction: column;
  margin-left: 30px;
  margin-right: 30px;
  position: relative;
  flex-shrink: 0;
  margin: 0px 20px;
  background:#328648;
  text-align: center;

}

.card-container:hover {
  box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
  cursor: pointer;
}