.review-maincharlabel {
  font-weight: bold;
  margin-bottom: 5px;
}

.review-productbreakdown {
  float: left;
  width: 100%;
  margin-top:10px;
  margin-bottom: 10px;
  /* position: relative; */
}


.productbarcontainer {
  height: 20px;
  width: 100%;
  background-color: #f1f1f1;
  text-align: end;
  color: #04AA6D;
  /* position:relative; */
  z-index: 0;
}

.productlabelscontainer {
  width: 100%;
  margin-top: 5px;
}


.review-indicator {
  height: 18px;
  z-index: 40;
  /* background-color: #04AA6D; */
}

/*char labels*/
.reviewchar-leftlabel {
  display: inline;
  float: left;
  /* text-align: left; */
}

.reviewchar-rightlabel {
  display: inline;
  float: right;
  /* text-align: right; */
}

/* .productbarcontainer::before{
  position: absolute;
  top: 0px;
  width: 4px;
  height: 19.5px;
  content: '';
  left: 33%;
  background-color: white;
}

.productbarcontainer::after{
  top: 0px;
  position: absolute;
  width: 4px;
  height: 19.5px;
  content: '';
  right: 33%;
  background-color: white;
} */