/* Three column layout */
.ratingbreakdown {
  float: left;
  width: 15%;
  margin-top:10px;
}

.rbdmiddle {
  margin-top:10px;
  float: left;
  width: 70%;
}

/* Place text to the right */
.rbdright {
  text-align: right;
}

/* The bar container */
.ratingbarcontainer {
  width: 100%;
  background-color: #f1f1f1;
  text-align: center;
}

/* Individual bar */
.greenbar {
  height: 18px;
  background-color: #04AA6D;

}

/*ReviewMetaRating Container*/
.ReviewMetaRating {
  display: flex;
  flex-direction: column;
}

.AverageRatingandStars {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  align-items: center;
}

#RatingMetaAvgRating {
  padding-left: 35px;
  font-size: xxx-large;
}

.StarFilterandRemove {
  padding-top: 15px;
}

/*hover effect*/
.ratingbarcontainer:hover{
  background-color: #C1E1C1;
  cursor: pointer;
}

.rbdleft:hover, .rbdright:hover{
  text-decoration: underline;
  color: #328648;
  cursor: pointer;
}