@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.reviewmodal {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Overlay effect: translucent background: black w/ partial opacity */
  color:black;
  z-index: 150; /* Overlay effect: positioned over other containers */
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  position: fixed; /* Fix position on the top-left corner*/
  top: 0;
  left: 0;
  /* max-height: 130%; */
  overflow-y: auto;
}

.review-modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 70%; /* Width in proportion to its parent container*/
  max-width: 700px; /* Max width where it stops expanding */
  /* height: 130%; Height in proportion to its parent container */
  margin: auto; /* Auto margin according to the element width */
  margin-top: 3vh;
  margin-bottom: 3vh;
  padding: 10px;
  border: 1px solid black;
  border-radius: 20px; /* Optional. Rounds container corners */
  /* modal transition here */
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.5s;
}

.review-modal-header {
  text-align: center;
}

.review-modal-body {
  width: 80%;
  display: flex;
  flex-direction: column;
  row-gap: 7px;
}

.review-modal-footer {
  padding-top: 15px;
}

.starrating {
  padding-left: 13px;
  padding-right: 13px;
}

#closereviewmodal {
  margin: 1rem 0 1rem 0;
  cursor: pointer;
}

#submitnewreview {
  margin: 1rem 0 1rem 8rem;
  cursor: pointer;
}

#closereviewmodal:hover, #submitnewreview:hover{
  /* background-color: lightgrey; */
  transition: all ease 0.3s;
}

/*make text input box wider*/
#reviewnickname, #reviewemail {
  width: 250px;
}

/*textarea*/
#reviewsummary {
  width: 560px;
  height: 50px;
}

#reviewbody {
  width: 560px;
  height: 100px;
}

#note {
  font-size: smaller ;
  color: grey;
  margin-block: unset;
}


/*chracteristic radio boxes*/
.newreviewcharlabel {
  text-align: center;
  width: 100%
}

.newreviewchardes {
  text-align: center;
  font-size: smaller;
  width: 100%
}

.newreview {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;

}

.newreview label {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  font-size: smaller;

}

.checkboxgroup {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*add padding to each review radio box*/
.newreviewbox {
  padding-top: 10px;
  padding-bottom: 10px;
}

.newreviewembeddedphotos {
  display: flex;
}

/*Uploda Pictures*/
.embedphotomodal {
  display: flex;
  justify-content: space-between;
}

#uploadphotos {
  cursor: pointer;
}

#embedphotourl {
  width: 85%
}

#embedphotosubmitbtn {
  cursor: pointer;
}

.newreviewembeddedphotos {
  padding-top: 7px;
}


#uploadphotos, #embedphotosubmitbtn, #closereviewmodal, #submitnewreview,#reviewsummary, #reviewbody, #embedphotourl, #reviewnickname, #reviewemail{
  font-family: 'Poppins', sans-serif;

}
