.reviewphoto {
  display: flex;
}

.reviewtile {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  justify-content: space-between;
  padding-bottom: 35px;
}

.reviewnameanddate {
  padding-right: 15px;
}

.reviewhelpfulreport {
  border-bottom: 1px solid grey;
  padding-bottom: 35px;
}

.reviewtileheader {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.reviewsummary {
  font-size: larger;
}

u {
  cursor: pointer;
}

